
/* UI Styles */

html, body {
	margin: 0;
	padding: 15px;
	font-family: Helvetica, Arial, sans-serif;
	color: #333c47;
}

h1 {
	margin-top: 0;
}

button {
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 8px 15px;
	border: 1px solid #efefef;
	background-color: #beeeef;
	border-radius: 3px;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
}
button:hover:not(:disabled) {
	border-color: #5BBFDF;
}
button:disabled {
	background-color: #96dbfa;
	cursor: not-allowed;
}

p {
	margin-top: 0;
}

.sliders {
	margin-bottom: 20px;
}

.sliders .rc-slider {
	margin: 5px 0;
}

.sliders label>div:first-of-type {
	margin: 15px 0 5px 0;
}


/* Dropzone Styles */

.dropzone.drop:after,
.dropzone.drop:before {
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
}
	
.dropzone.drop:before {
	background-color: rgba(192, 230, 249, 0.85);
	text-align: center;
	font-size: 48px;
	font-weight: bold;
	color: white;
	padding-top: calc(50vh - 24px);
}

.dropzone.drop:after {
	margin: 50px;
	border-radius: 50px;
	border: 10px dashed white;
}

.dropzone.drop.over:before {
	content: 'Drop!';
}

/* Editor Styles */

.canvas-wrapper, 
.canvas-wrapper canvas {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: inherit;
}

.canvas-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
}

.canvas-wrapper canvas {
	transition: opacity 0.1s linear;
}
.canvas-wrapper:hover canvas {
    opacity: 0;
}


/* Curve creator styles */

.curve-creator {
	position: relative;
	width: 400px;
	height: 400px;
	margin: 40px 20px 40px 20px;
}

.curve-creator:before {
	content: '0,0';
	position: absolute;
	top: calc(100% + 5px);
	right: calc(100% + 5px);
}

.curve-creator:after {
	content: '255,255';
	position: absolute;
	bottom: calc(100% + 5px);
	left: calc(100% + 5px);
}

.grid-pattern {
	box-sizing: content-box;
	text-overflow: clip;
	background: linear-gradient(0deg, #FFFFFF 2px, rgba(0,0,0,0) 2px), linear-gradient(90deg, #FFFFFF 2px, rgba(0,0,0,0) 2px), linear-gradient(0deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), linear-gradient(90deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), #96dbfa;
	background-origin: padding-box;
	background-clip: border-box;
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
}