
/* UI Styles */

html, body {
	margin: 0;
	padding: 15px;
	font-family: Helvetica, Arial, sans-serif;
	color: #333c47;
}

h1 {
	margin-top: 0;
}

button {
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 8px 15px;
	border: 1px solid #efefef;
	background-color: #beeeef;
	border-radius: 3px;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
}
button:hover:not(:disabled) {
	border-color: #5BBFDF;
}
button:disabled {
	background-color: #96dbfa;
	cursor: not-allowed;
}

p {
	margin-top: 0;
}

label {
	display: block;
	font-size: 14px;
	margin: 16px 0 8px 0;
}

.rc-color-picker-panel label {
	margin: 0 0 0 5px;
	font-size: 12px;
}
.rc-color-picker-panel label:first-child {
	margin-left: 0;
}

.input {
	display: inline-block;
	width: 800px;
	margin-top: 50px;
	text-align: left;
}

.input textarea {
	width: 100%;
}

.text-center {
	text-align: center;
}

.sliders {
	margin-bottom: 20px;
}

.sliders .rc-slider {
	margin: 5px 0;
}

.sliders label>div:first-of-type {
	margin: 15px 0 5px 0;
}

.filters {
	max-width: 100%;
	overflow-x: scroll;
	white-space: nowrap;
}


/* Dropzone Styles */

.dropzone.drop:after,
.dropzone.drop:before {
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
}
	
.dropzone.drop:before {
	background-color: rgba(192, 230, 249, 0.85);
	text-align: center;
	font-size: 48px;
	font-weight: bold;
	color: white;
	padding-top: calc(50vh - 24px);
}

.dropzone.drop:after {
	margin: 50px;
	border-radius: 50px;
	border: 10px dashed white;
}

.dropzone.drop.over:before {
	content: 'Drop!';
}

/* Editor Styles */

.canvas-wrapper, 
.canvas-wrapper canvas {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: inherit;
}

.canvas-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
}

.canvas-wrapper canvas {
	transition: opacity 0.1s linear;
}
.canvas-wrapper:hover canvas {
    opacity: 0;
}