.tabs-navigation {
	max-height: 50px;
	border-bottom: 1px solid #ddd;
}

.tabs-menu {
	display: table;
	list-style: none;
	padding: 0;
	margin: 0;
}

.tabs-menu-item {
	float: left;
}

.tabs-menu-item a {
	display: block;
	padding: 0 10px;
	margin-bottom: -1px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	border-bottom: 0;
	color: #333c47;
	cursor: pointer;
}

.tabs-menu-item.is-active a {
	background: #fff;
	border: 1px solid #ddd;
	border-top: 2px solid #96dbfa;
	border-bottom: 0;
	color: #333c47;
}

.tabs-menu-item:not(.is-active) a:hover {
	color: #96dbfa;
}